// 404
// --------------------------------------------------

.message404 {
	.size(@large-logo; @small-logo);
	@media (min-width: @screen-sm-min) {
		.size((@small-logo*4); @large-logo);
	}
}
.message404:before, .message404:after {
    content:'4';
    font-size: @small-logo/3;
    height: inherit;
	line-height: @small-logo;
	@media (min-width: @screen-sm-min) {
		font-size: @small-logo;
		line-height: @large-logo;
	}
}
.message404:before {
    float: left;
}
.message404:after {
    float: right;
}