// About
// --------------------------------------------------

// Individual components
.about-output {
	h2 {
		display: inline;
		float: left;
		line-height: @line-height-base;
		margin: 0 0.5em 0 0;
	}
}
.about-team {
	h2 {
		line-height: @line-height-base;
		margin: 0;
	}
	ul {
		margin-bottom: @line-height-computed / 2;
	}
}
