// Featured Content
// --------------------------------------------------

.featured-content {
	border: $ot-border-width solid $ot-border-color;
	background-color: $body-bg;
	color: $body-color;
	padding: $spacer * 1.5;
	position: fixed;
	bottom:	-$ot-border-width;
	right: -$ot-border-width;
	z-index: $zindex-base + 1;
	@include media-breakpoint-up(md) {
		width: 50%;
	}
	@include media-breakpoint-up(lg) {
		width: 33.333%;
	}
	h2 {
		font-size: $font-size-base * 2;
	}
	p {
		margin-bottom: 0;
	}
	span {
		font-size: $font-size-base * 1.25;
	}
}


// Posts
.featured-link {
	display: block;
	&:last-of-type {
		margin-bottom: $spacer-y;
	}
}

.featured-image {
	.accordion & {
		max-width: $feature-thumb-width;
	}
}