//
// Header
// --------------------------------------------------

.site-header {
	background-color: $body-bg;
	border-bottom: $ot-border-width solid $ot-border-color;
	@include media-breakpoint-down(xs) {
		z-index: $zindex-offcanvas;
	}
}
.site-title {
	margin: 0;
}
.site-info {
	@include media-breakpoint-down(sm) {
		background-color: $body-bg;
	}
	@include media-breakpoint-up(md) {
		background-image: linear-gradient(to bottom, $body-bg 0%, transparentize($body-bg, 0.05) 50%);
	}
	> .show {
		@include media-breakpoint-down(sm) {
			overflow-y: scroll;
			height: 100vh;
		}
	}
	&__container {
		padding-top: 3em;
		padding-bottom: 4em;
		@include media-breakpoint-down(sm) {
			min-height: 100vh;
			padding-top: 6em;
		}
		@include media-breakpoint-up(md) {
			border-top: $ot-border-width solid $ot-border-color;
		}
		h2 {
			font-size: $font-size-base;
			font-weight: bold;
		}
	}
	&__close {
		@include size(1.5em);
		@include media-breakpoint-down(md) {
			position: absolute;
			top: $spacer-y;
			right: $grid-gutter-width-base/2;
		}
	}
}