//
// Offcanvas
// --------------------------------------------------

@include media-breakpoint-down(sm) {
    .navbar-offcanvas {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 50%;
        transition: transform 0.3s ease-out;
        transform: translateX(-100%);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: $zindex-offcanvas;
        &.in {
            transform: translateX(0);
            box-shadow: $ot-drop-shadow-md-light;
        }
    }
    .navbar-default.navbar-offcanvas {
        background-color: $offcanvas-bg-color; 
    }
}
.offcanvas__overlay {
    z-index: $zindex-offcanvas-overlay;
}
