//
// Poster Text
// --------------------------------------------------

.text-size--poster {
	.section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		//hyphens: auto;
		span {
			display: inline-block;
			opacity: 0;
			transition: opacity 0.5s ease, transform 0.66s cubic-bezier(0.32, 1.07, 1, 1);
			transition-delay: 0.25s;
			transform: translate(-50%, -100%);
			&:nth-child(odd) {
				transition-delay: 0.5s;
				transform: translate(-20%, -50%);
			}
		}
		&.active {
			span {
				opacity: 1;
				transform: translate(0, 0);
			}
		}
	}
	.section-sm {
        font-size: $font-size-poster-sm;
        line-height: $headings-line-height;
	}
	.section-md {
		font-size: $font-size-poster-md;
		line-height: $headings-line-height;
	}
	.section-lg {
        font-size: $font-size-poster-lg;
        padding-left: $spacer*4;
    	padding-right: $spacer*4;
	}
}