//
// Buttons
// --------------------------------------------------

.btn-outline-secondary {
	border-style: dotted;
	color: $gray-dark;
}
.btn-nav {
	> svg {
		@include size($btn-nav-size);
	}
}
.btn-group {
	.site-info & {
		@include media-breakpoint-down(sm) {
			display: none
		}
	}
}
.btn-icon-only {
	border: none;
	&:hover,
	&:active {
		background-color: $body-bg;
		fill: blue;
	}
	&:focus {
		box-shadow: none;
	}
}
.btn-group {
	.site-info__container & {
		//margin-left: -$grid-gutter-width-base/2;
	}
}

//close-button
button.close-sm {
	@include size($btn-close-sm);
}