//
// Dev Tools
// --------------------------------------------------

/*
 *	Grid Overlay for Twitter Bootstrap
 *	Assumes a 1.692em baseline grid (22px/13px)
 */


@include media-breakpoint-up(sm) {
    body {
		background: -webkit-linear-gradient(
						90deg, 
						rgba(0,0,0,0.05), 
						rgba(0,0,0,0.05) 	4.545%, 
						rgba(0,0,0,0) 		4.545%, 
						rgba(0,0,0,0) 		100%
					),
					-webkit-linear-gradient(
						0deg,
						rgba(0,0,0,0),
						rgba(0,0,0,0) 		35%,
						rgba(0,0,0,0.05)	35%,
						rgba(0,0,0,0.05)	36%,
						rgba(0,0,0,0)		36%,
						rgba(0,0,0,0)		65%,
						rgba(0,0,0,0.05)	65%,
						rgba(0,0,0,0.05)	66%,
						rgba(0,0,0,0)		66%,
						rgba(0,0,0,0)		100%
					);
		//background-size: 1.692em 1.692em, 7.692em 7.692em; // 7.692 - 2.308 = 5.384 
		background-size: 1.5em 1.5em, 8.333333% 8.333333%; // 7.692 - 2.308 = 5.384
		background-position: left top, center top;
	}
}

/*
// Set your grid dimensions here
$body-width: 100% !default;

@mixin baseline-grid($columns, $column-color, $baseline-color ) {
	
	background-image: -webkit-linear-gradient(0deg, calc(100% - #{$grid-gutter-width-base}), transparent $grid-gutter-width-base),
					  -webkit-linear-gradient(top, rgba(0,0,0,0) 90%, $baseline-color 100%);
	//background-size: @column-width 100%, 100% @line-height-computed/2;
	background-size: 8.333333% 100%, 100% 0.75em;
	//background-position: $grid-gutter-width-base/2 0; // Use to offset and center your grid
	background-position: 0;
}

html, body {
  height: 100%;
}

body,
.navbar-default,
.exhibition-archive {
	background-color: transparent;
}

body {
  @include baseline-grid(12, rgba(200, 0, 0, 0.2), rgba(56, 255, 255, 0.8));
}
*/
